.products {
    display: flex;
    justify-content: center;
  }
  .products_container {
    width: 1110px;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito';  
  }
  
  .products_posts {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000;
  }
  .products_title {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 32px;
    line-height: 25px;
  }